<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @photo.title %>
</p>
<div>
<%= image_tag @photo.image_url.to_s , size: "500x500"%><div>
<%= link_to 'Edit', edit_hotel_photo_path(@photo.hotel, @photo) %> |
<%= link_to 'Back', hotel_photos_path(@photo.hotel) %>
