<h1>Welcome To Room Service</h1>



<table class="table table-striped table-hover">
  <tr>
    <th >Hotel</th>
    <th>Address</th>
    <th>Show</th>
    <th>Add</th>
    
  </tr>

<% @top_hotels.each do |hotel| %>
  <tr>
    <td><%= hotel.title %></td>
    <td>
        <ul>
            <li>
                <b>Country: </b>
                <%= hotel.country %>
            </li>
            <li>
                <b>State: </b>
                <%= hotel.state %>
            </li>
            <li>
                <b>City: </b>
                <%= hotel.city %>
            </li>
            <li>
                <b>Street: </b>
                <%= hotel.street %>
            </li>                                    
        </ul>
    </td>
    <td><%= link_to 'Show', hotel, class: "btn btn-primary"%></td>
    <td ><%if !current_user.visited.include?(hotel.id.to_s)%>
    <%= link_to ' Add to viseted', user_hotel_visited_path(current_user, hotel), class: "icon-plus btn btn-primary"%>
    <%else%>
    <h4>Visited</h4>
    <%end%>
    </td>
  

    
<% end %>
</table>



<br />
<%= link_to 'New Hotel', new_user_hotel_path(current_user), class: "btn btn-primary" %>


