<h1>Visited Hotels</h1>

<table class="table table-striped table-hover">
  <tr>
    <th >Hotel</th>
    <th>Address</th>
    <th>Show</th>
    
  </tr>

<% @hotels.each do |hotel| %>
  <tr>
    <td><%= hotel.title %></td>
    <td>
        <ul>
            <li>
                <b>Country: </b>
                <%= hotel.country %>
            </li>
            <li>
                <b>State: </b>
                <%= hotel.state %>
            </li>
            <li>
                <b>City: </b>
                <%= hotel.city %>
            </li>
            <li>
                <b>Street: </b>
                <%= hotel.street %>
            </li>                                    
        </ul>
    </td>
    <td><%= link_to 'Show', hotel, class: "btn btn-primary" %></td>

    </td>
  

    
<% end %>
</table>
<div id="pagination">
<%= will_paginate @hotels %>
</div>
<br />
<%= link_to 'New Hotel', new_user_hotel_path(current_user), class: "btn btn-primary" %>


